span[class~="sr-only"] {
    border: 0;
    /* [Step 31 - clip property is deprecated ](https://developer.mozilla.org/en-US/docs/Web/CSS/clip#browser_compatibility) */
    /* clip: rect(1px, 1px, 1px, 1px); */
    /* Desired effect is acheived with the following propery setting - but tests still require both? */
    clip-path: inset(50%); 
    width: 1px;
    height: 1px;
}

html {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #0a0a23;
}
