* {
    box-sizing: content-box; /* This is the default - it calculates specified dimensions based on the element's content */
}

.gallery {
    width: 50%;
    border: 5px solid red;
}

img {
    width: 100%;
    padding: 5px;
    border: 5px solid blue;
}
