* {
    box-sizing: border-box; /* Border-box includes margins and padding in the total width of an element.    
    The default is content-box - it calculates specified dimensions based on the element's content */
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f6f7;
}

.gallery {
    display: flex;  /* Creates a flex box & all direct children flex-items */
    flex-direction: row;
    flex-wrap: wrap; /* Wrap content to the next line if not enough space - default setting will shrink items*/
    justify-content: center; /* Position items along main axis */
    align-items: center; /* Position items along cross axis */
}

.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
}

.header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
}
