.canvas {
    width: 500px;
    height: 600px;
    background-color: #4d0f00;
    /* padding: 1px;  This padding stops the one element from pushing past the canvas & onto the frame's border but changes canvas dimensions */
    overflow: hidden; /* Overflow property restores canvas original dimensions that changed with the addition of padding */
    filter: blur(2px);
}

.frame {
    border: 50px solid black;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
}

.one {
    width: 425px;
    height: 150px;
    background-color: #efb762;
    margin: 20px auto; /* This margin pushes .two down */
}

.two {
    width: 475px;
    height: 200px;
    background-color: #8f0401;
    margin: 0 auto 20px; /* This margin pushes .three down */
}

.one, .two {
    filter: blur(1px);
}

.three {
    width: 91%;
    height: 28%;
    background-color: #b20403;
    margin: auto;
    filter: blur(2px);
}
